.banner-section-login {
  padding-top: 100px;
}
.login-signup-section {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #eff2f5;
}
.forms-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 87%;
}
.all-forms {
  display: flex;
}
.login-form-show {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.signup-form-show {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.ant-btn {
  height: auto !important;
}
.recover-form {
  background: #ffffff;
  border: 1px solid #c9c7c7;
  padding: 15px 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 50%;
  margin: auto;
}
.recover-form .ant-input-password {
  height: 32px !important;
}
.recover-form .form-lable svg {
  font-size: 30px;
  color: #00b279;
}

@media only screen and (max-width: 1024px) {
  .banner-section-login {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .all-forms {
    display: block;
  }
  .login-form-show {
    width: 100%;
  }
  .signup-form-show {
    width: 100%;
  }
}
