.footer {
  background-image: url(../../styles/images/afneen/footer.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 99;
  border-top: 1px solid aquamarine;
  height: 218px;
}
.section-subcribe {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #121922;
  color: #acacab;
}
.section-footer {
  padding-top: 20px;
  background-color: #121922;
  color: #acacab;
}
.subscribe-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 87%;
}
.footer-divider {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}
.subscribe-container h2 {
  font-size: 22px !important;
  text-transform: uppercase !important;
  color: #adb0b6 !important;
  font-weight: 700 !important;
  margin: 0 0 25px;
  font-weight: normal;
  line-height: 35px;
  text-align: center;
  letter-spacing: 2px;
  font: 700 Normal 19px/20px "Montserrat", sans-serif !important;
}
.form-field {
  text-align: center;
}
.subscribe-button {
  display: inline-block;
  /* width: 20%; */
  margin-left: 15px;
}
.form-field .email-field {
  width: 50%;
  display: inline-block;
  border: 1px solid #999;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 17px;
  font-family: "Montserrat", sans-serif;
}
.subscribe-button .green-button {
  font-size: 15px;
  padding: 13px 34px;
  font-family: "Montserrat", sans-serif;
  background: #c33332;
  border: 1px solid #c33332;
  border-radius: 5px;
  color: #fff;
}

.contact-info {
  display: flex;
}
.number-info {
  width: 33.33333333%;
}
.number-info p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #acacab;
}
.mini-heading-menu {
  width: 25%;
}
.mini-heading-menu h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #acacab;
  font-weight: 600;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.mini-heading-other {
  width: 25%;
}
.mini-heading-other h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #acacab;
  font-weight: 600;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.mini-heading-connect {
  width: 16.66666667%;
}
.mini-heading-connect h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #acacab;
  font-weight: 600;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.footerr {
  background-color: #121921;
  padding: 60px 0 35px 0;
}
.footer .ant-collapse {
  background-color: #121921;
  border: unset !important;
}
.footer .ant-collapse-item {
  border: unset !important;
}
.footer .ant-collapse .ant-collapse-item .ant-collapse-header {
  font-size: 0.9125rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}
.footer .ant-collapse .ant-collapse-item .ant-collapse-content-box {
  background-color: #121921;
}
.footer .ant-collapse-content {
  border-top: unset;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
  max-width: 90%;
  margin: auto;
}
.footer-col {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer-col h3 {
  font-size: 16px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-transform: uppercase;
}
.footer-col h2 {
  font-size: 16px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-transform: uppercase;
}
.collapse ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}
.footer-collapse ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}

.collapse ul li {
  font-size: 15px;
  margin-bottom: 8px;
  line-height: 1.2;
  position: relative;
  color: #fff;
  opacity: 0.6;
  /* display: inline-block; */
  transition: all 0.3s ease-in-out;
}
.footer-collapse ul li {
  font-size: 15px;
  margin-bottom: 8px;
  line-height: 1.2;
  position: relative;
  color: #fff;
  opacity: 0.6;
  /* display: inline-block; */
  transition: all 0.3s ease-in-out;
}
.collapse ul li:hover {
  transform: translate(5px, 0);
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.footer-collapse ul li:hover {
  transform: translate(5px, 0);
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.contact ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}
.contact ul li {
  padding-left: 35px;
  position: relative;
  margin-bottom: 15px;
  color: #fff;
  opacity: 0.6;
  font-size: 15px;
}
.contact ul li i {
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  line-height: 1;
}
.mbl {
  padding-left: 4px;
}
.newsletter {
  position: relative;
  margin-bottom: 1rem;
}
.newsletter input {
  border: 0;
  height: 40px;
  border-radius: 0;
  width: 100%;
  padding-left: 15px;
  /* background-color: #f3f3f3; */
  background-color: rgba(255, 255, 255, 0.05);
  color: #ccc;
}
.newsletter button {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 14px;
  /* font-size: 1.5rem; */
  top: 0;
  border: 0;
  padding: 0 17px 0 17px;
  height: 40px;
  line-height: 44px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  background-color: #589442;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.newsletter button i {
  font-size: 15px;
}
.follow {
  display: block !important;
  height: auto !important;
  visibility: visible !important;
}
.follow ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}
.follow ul li {
  display: inline-block;
  margin: 0 16px 0 0;
  opacity: 1 !important;
}
.follow ul li img {
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .collapse {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
}
.footerr hr {
  border-color: rgba(255, 255, 255, 0.15);
  margin-top: 5px;
  max-width: 1235px;
  margin-bottom: 25px;
}
.copyrights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 6px;
}
.copyrights ul {
  margin: 0;
  padding: 8px 0 0 0;
  color: #555;
  font-size: 13px;
}
.copyrights ul li {
  /* margin-right: 20px; */
  font-size: 14px;
  display: inline-block;
  color: #fff;
  opacity: 0.8;
  margin-top: 84px;
}
.copyrights ul li:first-child:after {
  margin-right: 20px;
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
}
.copyrights ul li:nth-child(2):after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
  margin-right: 20px;
}
@media only screen and (max-width: 992px) {
  .subscribe-form {
    display: block;
  }
  .form-field {
    text-align: center;
  }
  .form-field .email-field {
    width: 50%;
    padding: 10px 18px;
    font-size: 15px;
  }
  .subscribe-button {
    /* width: 100%; */
    text-align: center;
  }
  .subscribe-button .green-button {
    padding: 10px 18px;
  }
  .contact-info {
    display: block;
  }
  .number-info {
    width: 100%;
  }
  .mini-heading-menu {
    width: 100%;
  }
  .mini-heading-other {
    width: 100%;
  }
  .mini-heading-connect {
    width: 100%;
  }
  .mini-heading-connect h3 {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  .form-field .email-field {
    width: 100%;
  }
  .subscribe-button .green-button {
    font-size: 14px;
  }
}
@media only screen and (max-width: 970px) {
  .footer-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footerr {
    padding: 38px 0 35px 0;
  }
}
@media only screen and (max-width: 640px) {
  .back-to-top {
    display: none;
  }
  .footerr {
    padding: 0 0 15px 0;
  }
  .footer-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer-col h3 {
    font-size: 13px;
    font-size: 0.8125rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 -15px 0 -15px;
    padding: 15px 15px 15px 15px;
    display: block;
  }
  /* .footer-col h3:after {
    font-family: "ElegantIcons";
    content: "\4c";
    width: 20px;
    display: block;
    float: right;
  } */
  .collapse ul {
    margin-top: 15px;
  }
  .contact {
    margin-top: 15px;
  }
  .newsletter {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 560px) {
  .form-field .email-field {
    width: 100%;
  }
  .subscribe-button {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px !important;
    text-align: center;
  }
  .subscribe-button .green-button {
    width: 100%;
  }
  .subscribe-container h2 {
    font: 700 Normal 17px/20px "Montserrat", sans-serif !important;
  }
  .section-subcribe {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .subscribe-container {
    width: 96%;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-container {
    max-width: 85%;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1400px) {
  .footer-container {
    max-width: 91%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1450px) {
  .footer-container {
    max-width: 85%;
  }
  .form-field .email-field {
    width: 42%;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1500px) {
  .footer-container {
    max-width: 83%;
  }
  .form-field .email-field {
    width: 42%;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1550px) {
  .footer-container {
    max-width: 80%;
  }
  .form-field .email-field {
    width: 40%;
  }
}
@media screen and (min-width: 1550px) and (max-width: 1600px) {
  .footer-container {
    max-width: 77%;
  }
  .form-field .email-field {
    width: 40%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1650px) {
  .footer-container {
    max-width: 74%;
  }
  .form-field .email-field {
    width: 38%;
  }
}
@media screen and (min-width: 1650px) and (max-width: 1700px) {
  .footer-container {
    max-width: 72%;
  }
  .form-field .email-field {
    width: 36%;
  }
}
@media screen and (min-width: 1700px) and (max-width: 1750px) {
  .footer-container {
    max-width: 70%;
  }
  .form-field .email-field {
    width: 36%;
  }
}
@media screen and (min-width: 1750px) and (max-width: 1800px) {
  .footer-container {
    max-width: 68%;
  }
  .form-field .email-field {
    width: 36%;
  }
}
@media screen and (min-width: 1800px) and (max-width: 1850px) {
  .footer-container {
    max-width: 66%;
  }
  .form-field .email-field {
    width: 36%;
  }
}
@media screen and (min-width: 1850px) {
  .footer-container {
    max-width: 64%;
  }
  .form-field .email-field {
    width: 36%;
  }
}
