.image-container {

  visibility: visible;
  z-index: -100;
  position: fixed;
  top: -10px;
  left: 0px;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  height: 612px;
  width: 100%;
}
.background-desktop {
  display: block;
  transform: translate3d(0px, 0px, 0px);
  position: absolute;
  top: 8px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-width: none;
}
.background-mobile {
  display: none;
}
.content-wrap {
  padding-bottom: 71px;
  border: 0px solid red;
  width: 100%;
  background: white;
  margin-top: 90px;
}
.menu-content-wrap {
  padding-bottom: 71px;
  border: 0px solid red;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
}
.content {
  border: 0px solid white;
  width: 60%;
  margin: auto;
}
.menu-content {
  height: 224px;
  border: 0px solid white;
  width: 87%;
  margin: auto;
}
.home-search-text {
  margin-top: 5px;
  margin-bottom: 6px;
  line-height: normal;
  color: #fff;
  font-size: 56px;
  text-align: center;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
.home-search-subtext {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.menu-background-mobile {
  display: none;
}
.menu-background-desktop {
  display: block;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .background-mobile {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .background-desktop {
    display: none;
  }
  .content-wrap {
    min-height: inherit;
    background: none;
    border: 0px solid red;
    padding-bottom: 20px;
  }
  .menu-content-wrap {
    min-height: inherit;
    background: none;
    border: 0px solid red;
    padding-bottom: 20px;
  }
  .content {
    width: 100%;
    padding-top: 0;
  }
  .content h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
    line-height: 1;
    color: #0d1115;
  }
  .content p {
    margin-bottom: 0;
    font-size: 16px;
    color: #0d1115;
  }
  .menu-content {
    width: 84%;
  }
}
@media only screen and (max-width: 660px) {
  .menu-content-wrap {
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1250px) {
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 1250px) and (max-width: 1300px) {
  .content {
    width: 88%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1350px) {
  .content {
    width: 86%;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1400px) {
  .content {
    width: 84%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1450px) {
  .menu-content {
    width: 82%;
  }
  .content {
    width: 82%;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1500px) {
  .menu-content {
    width: 81%;
  }
  .content {
    width: 80%;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1550px) {
  .menu-content {
    width: 77%;
  }
  .content {
    width: 76%;
  }
}
@media screen and (min-width: 1550px) and (max-width: 1600px) {
  .menu-content {
    width: 74%;
  }
  .content {
    width: 76%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1650px) {
  .menu-content {
    width: 72%;
  }
  .content {
    width: 72%;
  }
}
@media screen and (min-width: 1650px) and (max-width: 1700px) {
  .menu-content {
    width: 70%;
  }
  .content {
    width: 70%;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1750px) {
  .menu-content {
    width: 68%;
  }
  .content {
    width: 68%;
  }
}
@media screen and (min-width: 1750px) and (max-width: 1800px) {
  .menu-content {
    width: 66%;
  }
  .content {
    width: 66%;
  }
}
@media screen and (min-width: 1800px) and (max-width: 1850px) {
  .menu-content {
    width: 64%;
  }
}
@media screen and (min-width: 1850px) and (max-width: 1900px) {
  .menu-content {
    width: 62%;
  }
}
@media screen and (min-width: 1900px) and (max-width: 1950px) {
  .menu-content {
    width: 62%;
  }
}
@media screen and (min-width: 1800px) {
  .content {
    width: 46%;
  }
}
